csrc/*
*.daidir/*
synth/*
!synth/*.tcl
!synth/*.chk
!synth/*.rep
!synth/*.vg
!synth/*.ddc
ucli.key
vc_hdrs.h
vcdplus.vpd
*.dump
*.out
simv
simv.vdb/*
./*.log
DVEfiles/*
inter.vpd
syn_simv_single
stack.info.18417/proc_18417_status
stack.info.18417/proc_diskstats
stack.info.18417/proc_meminfo
test_out.txt
testbench/FIFO/.__afs6A3B
]
].pub
.__afs3B8B
.__afsB278
program.elf
program.mem
.__afs1963
.__afs3301
.__afsA32D
.__afsC20C
.__afsDBF4
simv_dve
output.txt
*.elf
*.mem
urgReport/*
simv_*
simv_truth
session.inter.vpd.tcl
.restartSimSession.tcl.old
testbench/issue_selector/issue_selector_tb.sv
verilog/issue_selector.sv
.__afs2136
.__afs097
jalr.tcl
cache/Makefile
cache/LFSR*.sv
cache/*.txt
cache/csrc/
cache/simv.daidir/
headers/BTB_cachemem_headers.svh
headers/btb_headers_2.svh
verilog/BTB_cache_2.sv
syn_logs/*
*.log
.__afs7A9C
.__afs909B
.synopsys_dve_rebuild.tcl
12-3-2020-debug.tcl
12-4-2020-debug.tcl
12-5-2020-debug.tcl
1]
btb_note.txt
dump.txt
mult.s.debug.tcl
rs_et_mem_test.tcl
sampler_mem_lsq.tcl
p3_run.sh
out.txt
synth/BRAT.chk
synth/BRAT.ddc
synth/BRAT.rep
synth/BRAT.vg
synth/btag_tracker.chk
synth/btag_tracker.ddc
synth/btag_tracker.rep
synth/btag_tracker.vg
synth/decoder.chk
synth/decoder.ddc
synth/decoder.rep
synth/decoder.vg
synth/dispatch.chk
synth/dispatch.ddc
synth/dispatch.rep
synth/dispatch.vg
synth/FIFO.chk
synth/FIFO.ddc
synth/FIFO.rep
synth/FIFO.vg
synth/pipeline.chk
synth/pipeline.ddc
synth/pipeline.rep
synth/pipeline.vg
synth/RAT.chk
synth/RAT.ddc
synth/RAT.rep
synth/RAT.vg
